h3 {
	font-size: 36px;
	font-weight: 300;
	text-align: center;	
	margin-top: 51px;
	margin-bottom: 14px;
}

#author p {
	margin-top: 0px;
	margin-bottom: 0px;
	display:inline-block;
}

#author {
	text-align: center;
}